<table border="0" cellpadding="0" cellspacing="0" width="480" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent">
            <table border="0" cellpadding="24" cellspacing="0" width="100%">
                <tr>
                    <td valign="top">
                        <div  class="textContent">
                            <p>
                                Hi ##userName##,
                            </p>
                            <p>
                                Rooms are here to help you solve your financial priorities. Send messages, upload documents, and collaborate with trusted professionals all in one room.
                            </p>
                            <p>
                                A room has been created for the following service: 
                            </p>

                            <ul class="simple-list">
                                <li>##newRoom##</li>
                            </ul>

                            <p>
                                To get started, simply <a  class="standard-link" href="##BaseHref##Rooms/Home/Index/##roomId##" target="_blank">log in to your wealth portal</a>.
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="getApp textContent">
                        <!-- partial:partial/app_links.html -->
                        <!-- partial -->
                    </td>
                </tr>
            </table>            
        </td>
    </tr>
</table>
