// @import "wrapper/reboot";

.wrapper-body, .wrapper-html {
    display:flex;
    min-height: 100vh;
}

.wrapper-body {
    flex:1;
}

.wrapper-col {
}

.wrapper-col.nav-wrapper {
    padding: 20px;
    background:#fafafa;
    width: 300px;
    ul{
        list-style: none;
        margin:0;
        padding:0;
    }
}
.wrapper-file-link {
    display:block;
    padding: 5px;
    margin-bottom:5px;
    border-radius: 4px;
    &:hover {
        background: #eaeaea
    }

    &.active {
        color:white;
        background:#0000ee;
    }
}

.wrapper-col.content {
    flex:1;
}

.wrapper-col.meta {
    padding: 20px;
    background:#fafafa;
    width: 400px;
    display:flex;
    flex-direction: column;
    textarea {
        flex:1;
        padding: 8px;
        border:1px solid #d9d9d9;
        border-radius: 3px;
        font-size: 13px;
        font-family: 'Courier New', Courier, monospace;
        resize: none;
    }
}

#templateTitle {
    font-weight: bold;
    word-wrap:wrap;
    margin: 10px;
}