<table border="0" cellpadding="10" cellspacing="0" width="480" id="templateFooter">
    <tr>
        <td valign="top" class="footerContent">
        
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                    <td  class="footerCell">
                        <div class="footertext textContent">
                            &nbsp;##cobrandfootername## | <a href="##supportemail##">##supportemail##</a>&nbsp;
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="footerCell">
                        <div class="footertext textContent">
                            Please do not reply to this email as this address is not monitored. Wealth portal software and associated system emails provided by myprosperity.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  class="footerCell">
                        <div class="footertext textContent">
                            You can <a href="##BaseHref##Accounts/SignIn/SignIn?emailSetting=ManageSetting&cobrand=##cobrandtoken##">manage your communication settings</a> from your wealth portal.
                        </div>
                    </td>
                </tr>
            </table>
        
        </td>
    </tr>
</table>